<%= render 'layouts/users_header'%>



    <div class="container chart-box">

        <div class="row">
            <div class="col-md-4 col-md-offset-4 measurement-logo">
                <h1>CALORIE GRAPH</h1>
                <span class="moji">カロリーグラフ</span>
             </div>   
        </div>
            
            <div class="calories-burned">
                <h2 class="graphsum"><%= current_user.nickname%>さんの今月の合計消費カロリーは<%= @results.inject(0) { |sum, num| sum + num } %>(kcal)です。</h2>
            </div>
            
            <canvas id="myChart"></canvas>
            
             <%= link_to "戻る", user_path(current_user) , class:"btn btn-success btn-lg graphback" %>    
    </div>
        
        <script>
                //maxの数字を上限値にランダムな数字を生成する関数
                function getRandomInt(max){
                    return Math.floor(Math.random()* Math.floor(max));
                }

                //dayという配列を生成 [日付]
                var  day = new Array();
                //valueという配列を生成 [カロリー]
                var  calorie = new Array();

                for (var i = 1; i < 31; i++){
                    day[i] = i+'日';
                    // calorie[i] = getRandomInt(1000);
                }
                // console.log(day);
                    
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',
                    // The data for our dataset
                    data: {
                        labels: day, //X軸の月表示
                        datasets: [{
                            label: '日別消費カロリー', //
                            backgroundColor: '#69A534',
                            borderColor: '#69A534',
                            data: <%= @results %>,  //月の登録した消費カロリーをグラフ表示「
                            lineTension: 0, //ベジェ曲線の張り具合。 0（ゼロ）を指定すると直線になる。 0.1、0.2、・・・など増やしていくと曲がり具合が変わる。
                            fill: false, //線の下側の領域に色を塗るか否かの指定。 false で無色になる。
                            borderWidth: 3 //線の太さ。
                        }]
                    },

               
                    options: {}
                });

                Chart.plugins.register({
                    afterDatasetsDraw: function (chart, easing) {

                        var ctx = chart.ctx;

                        chart.data.datasets.forEach(function (dataset, i) {
                            var meta = chart.getDatasetMeta(i);
                            if (!meta.hidden) {
                                meta.data.forEach(function (element, index) {

                                    ctx.fillStyle = 'rgb(0, 0, 0)';

                                    var fontSize = 16;
                                    var fontStyle = 'normal';
                                    var fontFamily = 'Helvetica Neue';
                                    ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                    var dataString = dataset.data[index].toString();

                                    ctx.textAlign = 'center';
                                    ctx.textBaseline = 'middle';

                                    var padding = 5;
                                    var position = element.tooltipPosition();
                                    ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                                });
                            }
                        });
                    }
                });
        </script>