
<%= render 'layouts/users_header'%>

  <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>


      <div class="row">
          <div class="col-md-4 col-md-offset-4 menu-logo">
              <h1>SIGN IN</h1>
              <span class="moji">ログイン</span>
          </div>      
      </div>

      <div class="row">

        　<div class="sign_in_box">

                　<div class="col-md-8 col-md-offset-2">
                      <h3>ゲストメールアドレス&パスワード</h3>
                          <br>
                      <h3>email: guest@guest.com</h3>
                      <h3>password: 111111</h3>
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <div class="field">
                                <br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:'メールアドレス'%>
                              </div>

                              <div class="field">
                                <br />
                                <%= f.password_field :password, autocomplete: "current-password" ,placeholder:'パスワード'%>
                              </div>

                              <div class="actions">
                                <%= f.submit "ログインする", class: "sign_in btn-primary" %>
                              </div>
                          <% end %>

                              <%= render "users/shared/links" %>                     
                  </div>
            </div>
      </div>
  </div>

      <div class="kara_box3"></div>