
<%= render 'layouts/users_header'%>


<section>
    <div class="slider">　　<%#メインビジュアル %>
                                            
        <%= image_tag('main4.png')  %>
                                            
        <%= image_tag('main5.png')  %>
                                                
        <%= image_tag('main6.png')  %>
                                            
    </div>              
</section>

<div class="container">

    <div class="row">

        <div class="col-md-4 col-md-offset-4 feature-logo">
            <h1>FEATURE</h1>
            <span class="moji">特徴</span>
         </div>      

    </div>


    <div class="row feature-row">

        <div class="col-md-8 image">   <%#サイド画像の表示 %>                           
            <%= image_tag('test3.jpg') %>                         
        </div>
             
        <div class="col-md-4 feature">   　　

            <h3 class="theme">                                                        
                毎日の食事を楽しみながら
                    <br>
                    <br>
                食事管理を習慣に                                                          
            </h3>
                    <br>
                    <br>
                    <br>
                    <br>                                        
                <p>melhealhabitでは豊富なメニューの中から、</p>
                <p>食事を楽しみながら、体の管理を</p>
                <p>行いストレスフリーで理想の体型を目指す</p>
                <p>食事管理型ウェブアプリケーションです。</p>
                <p>数字として管理を継続することで、</p>
                <p>必ずを結果を導いてくれます。</p>                                           
        </div>
                                        
     </div>
            
</div>

<div class="kara_box1"></div>
