<%= render 'layouts/users_header'%>



<div class="container">

     <div class="row">

        <div class="col-md-4 col-md-offset-4 menu-logo">
            <h1>MENU</h1>
            <span class="moji">メニュー</span>
        </div>      

    </div>


    <div class="row menu-all">
            
        <% @menus.each do |menu| %>
            <div class="col-md-4">
                            
                        <% if menu.menu_image_id? %>
                        　  <%= link_to menu_path(menu.id) do %>
                            　<div class="menu-image"><%= image_tag menu.menu_image_id.url, size: "200x200"%></div><br>
                            <div class="menu_text">
                              <%= menu.menu_name %>
                            </div>

                            <% end %>
                        <% else %>
                    　　  <p>画像がありません</p>
                        <% end %>
            </div>
                
        <% end %>
    
    </div>
<%= paginate @menus %>

</div>

