
<%= render 'layouts/users_header'%>

<h1>メニュー詳細</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
			   <%= image_tag @menu.menu_image_id.url, size: "250x250" if @menu.menu_image_id? %>	
			</div>
		<div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= @menu.menu_name %>
				<%= @menu.calorie %> (kcal)
				<%= @menu.protein %>) (g)
				<%= @menu.fat %> (g)
				<%= @menu.carbo %> (g)
				<!-- ここで、中間テーブルを扱うコントローラ、mealrecords#createに、@menuのidを保持したまま送る。 -->
				<%= form_for(@mealrecord, path: mealrecords_path) do |f| %>
					<%#= f.hidden_field :user_id, current_user.id %>
					<%= f.hidden_field :menu_id, value: @menu.id %>
					<%= f.submit '食べる', class: "btn btn-default btn-lg objective-update" %>
					
				<% end %>
			</div>
	    </div>
        <%= link_to '戻る', menus_path, class: "btn btn-default" %>
	</div>
								
					
						
	