
  <%= render 'layouts/admins_header'%>
  
  <div class="container">

  　<div class="row sign_in_box">

        　<div class="col-md-8 col-md-offset-2">
              <h3>ゲストメールアドレス&パスワード</h3>
                <br>
              <h3>email: admin@example.jp</h3>
              <h3>password: 10101010</h3>
                    
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                        <br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:'メールアドレス'%>
                    </div>

                    <div class="field">
                        <br />
                         <%= f.password_field :password, autocomplete: "current-password" ,placeholder:'パスワード'%>
                    </div>

                    <div class="actions">
                        <%= f.submit "ログインする", class: "sign_in btn-primary" %>
                    </div>
                    
                    <% end %>
          
          </div>
   
   </div>

</div>
