<%= render 'layouts/admins_header'%>




    <div class="container">

    
      <div class="row">

        <div class="col-md-4 col-md-offset-4 mypage-logo">
            <h1>ADMIN TOP </h1>
              <span class="moji">管理者トップ</span>

              <br>
              <br>
              <br>   
        </div>     

      </div>

    
      <div class="row">

    　  <div class="col-lg-8 col-lg-offset-2">              				
     
                <br>            
                <br>
                <br>
                <br>
            <ul class="mypage_menu">
                <li class="menu">
                     <%= link_to "ユーザー一覧", admins_admins_path %>
                </li>
                    <br>
                    <br> 
                <li class="menu">
                      <%= link_to "メニュー一覧", admins_menus_path %>
                </li>
                    <br>
                    <br>
                <li class="menu">
                      <%= link_to "メニュー登録", new_admins_menu_path %>
                </li>
                    <br>
                    <br>  
                <li class="menu">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
                    <br>
                    <br>  
            </ul>      
        </div>

      </div>

    </div>

<div class="kara_box3"></div>