<header>

        
    <div class="fixed_nav z-index">

        <div class="container header_box">
            <div class="row header_content">
                <div class="col-lg-4">
                    <%= link_to root_path do %>
                        <%= image_tag "melhealhabit.jpg",class: "logo-btn" %>
                    <% end %>
                </div>

                <% if user_signed_in? %>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "メニュー一覧", menus_path %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "測定する", measurement_path %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "マイページ", user_path(current_user) %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                        </li>
                    </div>
            </div>           
                
                <% else %>

                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "メニュー一覧", menus_path %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "測定する", measurement_path %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                            <%= link_to "ログイン", new_user_session_path %>
                        </li>
                    </div>
                    <div class="col-lg-2 user_menu">
                        <li class="">
                             <%= link_to "新規登録", new_user_registration_path %>
                        </li>
                    </div>
                <% end %>
        </div>
    </div>
                    
</header>