<!DOCTYPE html>
<html>
  <head>
    <title>Melhealhabit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>



  </head>

  <body>

            <div class="wrapper">
              <%= yield %>
            </div>
    
            <div class="kara_box"></div>
            
            <%= render 'layouts/footer'%>


      

  </body>
</html>
